---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Character Counter - Tools">
  <main>
    <h1>Case <span class="text-gradient">Changer</span></h1>
    <div class="encode-container">
      <textarea
        id="input"
        placeholder="Enter text to change case"
        class="input-area"></textarea>
      <div class="flex items-center gap-2">
        <Button
          id="upper"
          title="Change to Uppercase (Ctrl+U)"
          body="Click to change to uppercase"
          href="#">Uppercase</Button
        >
        <Button
          id="lower"
          title="Change to Lowercase (Ctrl+L)"
          body="Click to change to lowercase"
          href="#">Lowercase</Button
        >
      </div>
      <textarea
        id="output"
        placeholder="Modified text will appear here"
        class="input-area"></textarea>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .encode-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .input-area {
    width: 100%;
    height: 150px;
    padding: 0.8rem;
    background-color: #23262d;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    resize: vertical;
  }
  .input-area:focus {
    outline: none;
    border-color: rgb(var(--accent-light));
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    if (window.location.pathname.startsWith("/tools/case-changer")) {
      const input = document.getElementById("input") as HTMLTextAreaElement;
      const output = document.getElementById("output") as HTMLTextAreaElement;
      const upperButton = document.getElementById("upper") as HTMLButtonElement;
      const lowerButton = document.getElementById("lower") as HTMLButtonElement;

      upperButton?.addEventListener("click", () => {
        const text = input.value;
        const upperCase = text.toUpperCase();
        output.value = upperCase;
      });

      lowerButton?.addEventListener("click", () => {
        const text = input.value;
        const lowerCase = text.toLowerCase();
        output.value = lowerCase;
      });
    }
  });
</script>
